# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\masodik_felev\Adatstruktura\Proba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
